adium-theme-ubuntu==0.3.4
click==6.7
Flask==0.12.2
## !! Could not determine repository location
flaskr==0.0.0
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
py==1.4.34
pytest==3.2.2
unity-lens-photos==1.0
virtualenv==15.1.0
Werkzeug==0.12.2
